[MASTER]
# Python code that will be checked
init-hook='import sys; sys.path.append(".")'

# Add files or directories to the blacklist
ignore=CVS

# Add files or directories matching the regex patterns to the blacklist
ignore-patterns=

# Python code to execute
# init-hook=

# Use multiple processes to speed up Pylint (use "0" for auto)
jobs=1

# List of plugins to load
load-plugins=

# Pickle collected data for later comparisons
persistent=yes

# Allow loading of arbitrary C extensions
unsafe-load-any-extension=no

[MESSAGES CONTROL]
# Only show warnings with the listed confidence levels
confidence=

# Disable specific warnings
disable=C0111

[FORMAT]
# Maximum number of characters on a single line
max-line-length=120

# Expected format of line ending
expected-line-ending-format=LF

[BASIC]
# Regular expression which should only match function or class names
function-rgx=[a-z_][a-z0-9_]{2,50}$

# Regular expression which should only match correct variable names
variable-rgx=[a-z_][a-z0-9_]{2,30}$

[VARIABLES]
# A regular expression matching the name of dummy variables
dummy-variables-rgx=_$|dummy

# List of additional names to consider as builtins
additional-builtins=

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=4

# Ignore comments when computing similarities
ignore-comments=yes

# Ignore docstrings when computing similarities
ignore-docstrings=yes

# Ignore imports when computing similarities
ignore-imports=no

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=numpy,tensorflow,torch,cv2

# List of classes names for which member attributes should not be checked
ignored-classes=SQLObject

[MISCELLANEOUS]
# List of note tags to take into consideration
notes=FIXME,XXX,TODO

[IMPORTS]
# Allow wildcard imports from modules that define __all__
allow-wildcard-with-all=no

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=25

# Maximum number of return / yield for function / method body
max-returns=10

# Maximum number of statements in function / method body
max-statements=50

[CLASSES]
# List of method names used to declare (i.e. assign) instance attributes
defining-attr-methods=__init__,__new__,setUp